.page
  .container
    .title
      h1 linux & life
    .menu
      .item
        i.fas.fa-home
        p Home
      .item
        i.fab.fa-linux
        p Linux
      .item
        i.fas.fa-heart
        p Life
      .item
        i.fas.fa-user
        p About me
    .main
      p this is what it is.
    .footer
// Bootstrap js
script(type="text/javascrip" src="./libs/bootstrap/bootstrap.js")
// jQuery
script(type="text/javascrip" src="./libs/jquery/jquery.js")
